<template>
    <require from="../../custom-attributes/datepicker"></require>
    <require from="../../value-converters/date"></require>
    <div>
        <h3>Filter Entries</h3>
    </div>
    <div>
        <div class="form-inline" if.bind="showUserFilter">
            <label class="input-group-addon" id="userExport">User</label>
            <select id="selectedUser" value.bind="selectedUser" aria-describedby="userExport">
                <option repeat.for="user of userFilterList" model.bind="user">${user.AccountingName}</option>
            </select>
        </div>
        <div class="form-inline" if.bind="showExportTypeFilter">
            <div>
                <label class="input-group-addon" id="exportFor">Exported</label>
                <select id="selectExportType" value.bind="exportType" aria-describedby="exportFor">
                    <option repeat.for="type of exportTypes" model.bind="type">${type.Description}</option>
                </select>
            </div>
            <div if.bind="exportType && showIsExported">
                <input type="checkbox" name="exportTypeFlag" checked.bind="exportTypeFlag" value.bind="exportTypeFlag"> Is
                Exported?
            </div>
        </div>
        <div class="form-inline">
            <label class="input-group-addon" id="startDate">Start Date</label>
            <div class="input-group date" datepicker.two-way="filterCriteria.FilterStartDate">
                <input type="text" class="form-control" value.bind="filterCriteria.FilterStartDate | date">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-inline">
            <label class="input-group-addon" id="endDate">End Date</label>
            <div class="input-group date" datepicker.two-way="filterCriteria.FilterEndDate">
                <input type="text" class="form-control" value.bind="filterCriteria.FilterEndDate | date">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
        <div class="form-inline" if.bind="showExportedFilter">
            <label class="input-group-addon" id="exported">Exported</label>
            <div class="input-group">
                <input type="checkbox" checked.bind="filterCriteria.Exported" value.one-way="filterCriteria.Exported" aria-describedby="exported"
                />
            </div>
        </div>
        <div class="form-group" if.bind="showButton">
            <input type="button" value='Find Entries' class="form-control btn btn-primary" click.delegate='getEntries()' />
        </div>
    </div>
</template>