<template>
    <require from="./partials/entry-filter-form"></require>
    <div class="container">
        <div>
            <input type="button" value='User Roles' class="form-control btn btn-primary" click.delegate='showHideUserRoles()' />
        </div>
        <div>
            <input type="button" value='Export Jobs' class="form-control btn btn-primary" click.delegate='showHideExport()' />
        </div>
        <div>
            <input type="button" value='Manage Codes' class="form-control btn btn-primary" click.delegate='goToWorkCodes()' />
        </div>
        <div class="${showUserRoles ? 'expandView' : 'collapseView'}">
            Comming soon!
        </div>
        <div class="${showExport ? 'expandView' : 'collapseView'}">
            <h3>Export Jobs</h3>
            <entry-filter-form filter-criteria.two-way="filterCriteria" time-entries.two-way="timeEntries" export-types.two-way="exportList"
                total.two-way="total" show-exported-filter.bind="false" show-export-type-filter.bind="true"></entry-filter-form>
            <div class="form-group">
                <input type="button" value='Export' class="form-control btn btn-primary" click.delegate='exportEntries()' />
            </div>
            <div repeat.for="timeEntry of timeEntries">
                <div class="entryContainer">
                    <div class='reviewEntry'>
                        <span class="${timeEntry.exported ? 'glyphicon glyphicon-lock' : ''}"></span>
                        <delete msg="Are you sure you want to remove this entry?" action.call="$parent.delete(timeEntry)" if.bind="!timeEntry.exported"></delete>
                        <label>${timeEntry.date.toLocaleDateString()}, ${timeEntry.jobNumber}, ${timeEntry.workCode}</label><span>${timeEntry.hours} Hours</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>