<template>
    <require from="../value-converters/date"></require>
    <require from="../custom-elements/action-confirm"></require>
    <div class="container">
        <div class="panel-body">
            <div class="row actions">
                <input type="button" value='Export Jobs' class="form-control btn btn-primary" click.delegate='goToExport()' />
            </div>
            <div class="row actions">
                <input type="button" value='Manage Codes' class="form-control btn btn-primary" click.delegate='goToWorkCodes()' />
            </div>
            <div class="row actions">
                <input type="button" value='Create Users' class="form-control btn btn-primary" click.delegate='goToCreateUsers()' />
            </div>
            <div class="row actions">
                <input type="button" value='Manage Roles' class="form-control btn btn-primary" click.delegate='goToManageRoles()' />
            </div>
            <div class="row actions">
                <input type="button" value='Admin Review' class="form-control btn btn-primary" click.delegate='goToAdminReview()' />
            </div>
        </div>
    </div>
</template>