<template>
    <require from="../Views/partials/loading"></require>
    <loading is-loading.bind="appState.isLoading"></loading>
    <div class="container">
        <h2>Change Password</h2>
        <div class='form-group'>
            <div class="input-group" if.bind="passwordChangeErrorMessage != ''">
                <label class='alert-danger'>${passwordChangeErrorMessage}</label>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="password">Current Password</span>
                <input class="form-control ${passwordError ? 'alert-danger' : ''}" placeholder="Password" aria-describedby="password" value.bind="changePasswordModel.OldPassword"
                    type="password">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="newpassword">New Password</span>
                <input class="form-control ${newPasswordError ? 'alert-danger' : ''}" placeholder="New Password" aria-describedby="newpassword"
                    value.bind="changePasswordModel.NewPassword" type="password">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="confirmpassword">Confirm Password</span>
                <input class="form-control ${newPasswordConfirmError ? 'alert-danger' : ''}" placeholder="Confirm New Password" aria-describedby="confirmpassword"
                    value.bind="changePasswordModel.ConfirmPassword" type="password">
            </div>
        </div>
        <div class="form-group">
            <input type="button" value='Submit' class="form-control btn btn-primary" click.delegate='submit()' />
            <input type="button" value='Cancel' class="form-control btn btn-primary" click.delegate='cancel()' />
        </div>
    </div>
</template>