<template>
    <require from="../value-converters/date"></require>
    <require from="../custom-elements/action-confirm"></require>
    <require from="./partials/entry-filter-form"></require>
    <div class="container">
        <h3>Export Jobs</h3>
        <div if.bind='appState.isLocal'>
            <action-confirm msg="Are you sure? This will remove the exported flag from ALL Navision entries." action.call="clearNavisionExport()"
                button-class="btn-warning" button-name="Clear Navision Export Flag"></action-confirm>
                <action-confirm msg="Are you sure? This will remove the exported flag from ALL Payroll entries." action.call="clearPayrollExport()"
                    button-class="btn-warning" button-name="Clear Payroll Export Flag"></action-confirm>
        </div>
        <div class='actions'>
            <div class="form-inline">
                <label class="input-group-addon" id="typeExport">Export For</label>
                <select id="selectExportType" value.bind="exportType" aria-describedby="typeExport">
                    <option repeat.for="type of exportTypes" model.bind="type">${type.Description}</option>
                </select>
            </div>
        </div>
        <div if.bind="exportType">
            <div if.bind="exportType.Type == 2">
                <entry-filter-form filter-criteria.two-way="filterCriteria" time-entries.two-way="timeEntries" total.two-way="total" show-exported-filter.bind="false"
                    show-export-type-filter.bind="false" show-user-filter.bind="false" show-button.bind="false"></entry-filter-form>
            </div>
            <div class="form-group actions">
                <input type="button" value='Get Entries' class="form-control btn btn-primary" click.delegate='getEntries()' />
                <input type="button" value='Get All Entries' class="form-control btn btn-primary" click.delegate='getAllPayrollEntries()'
                    if.bind="exportType.Type == 2" />
            </div>
            <div if.bind="timeEntries && entriesFound">
                <div data-spy="affix" data-offset-top="300">
                    <div class="form-group">
                        <input type="button" value='Export Entries' class="form-control btn btn-success" click.delegate='exportEntries()' />
                    </div>
                </div>
                <div repeat.for="timeEntry of timeEntries">
                    <div class="entryContainer">
                        <div class='reviewEntry'>
                            <label>${timeEntry.entryDate | date}, ${timeEntry.jobnumber}, ${timeEntry.workCode.baseCode} - ${timeEntry.workCode.description}, ${timeEntry.userAccountingName}</label><span>${timeEntry.userHours} Hours</span>
                        </div>
                    </div>
                </div>
            </div>
            <div if.bind="timeEntries && !entriesFound">
                <label>No entries to export.</label>
            </div>
        </div>
    </div>
</template>