<template>
	<require from="../custom-elements/delete"></require>
	<require from="../value-converters/date"></require>
	<require from="../Views/partials/entry-filter-form"></require>
	<require from="../Views/partials/loading"></require>
	<loading is-loading.bind="appState.isLoading"></loading>
	<div class="container">
		<h2>${heading}</h2>
		<entry-filter-form filter-criteria.two-way="filterCriteria" time-entries.two-way="timeEntries" total.two-way="total" show-exported-filter.bind="false"
		 show-user-filter.bind="false" show-export-type-filter.bind="true" no-entries-found.two-way="noEntriesFound" app-state.two-way="appState"></entry-filter-form>
		<div if.bind="timeEntries.length > 0">
			<div>
				<div class="form-group">
					<input type="button" value='Export' class="form-control btn btn-success" click.delegate='export()' />
				</div>
				<div class="form-group">
					<div repeat.for="timeEntry of timeEntries">
						<div class="entryContainer">
							<div class='reviewEntry' if.bind="!timeEntry.exportedToNavision && !timeEntry.exportedToPayroll">
								<delete msg="Are you sure you want to remove this entry?" action.call="$parent.delete(timeEntry)"></delete>
								<a click.delegate="editEntry(timeEntry)">
									<label>${timeEntry.entryDate | date}, ${timeEntry.jobnumber}, ${timeEntry.workCode.baseCode} ${timeEntry.workCode.description}</label><span>${timeEntry.userHours} Hours</span></a>
							</div>
							<div class='reviewEntry' if.bind="timeEntry.exportedToNavision || timeEntry.exportedToPayroll">
								<span class="${timeEntry.exportedToNavision || timeEntry.exportedToPayroll ? 'glyphicon glyphicon-lock' : ''}"></span>
								<label>${timeEntry.entryDate | date}, ${timeEntry.jobnumber}, ${timeEntry.workCode.baseCode} ${timeEntry.workCode.description}</label><span>${timeEntry.userHours} Hours</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="form-group">
					<div class="totalContainer">
						<span id="total">Total</span>
						<label model.bind="total">${total} Hours</label>
					</div>
				</div>
			</div>
		</div>
		<div if.bind="noEntriesFound">
			<lable>No entries found.</lable>
		</div>
	</div>
</template>