.mt-1{
    margin-top: 1em;
}
ul.clean-list {
    list-style: none;
}
ul.clean-list li {
    display: flex;
}
.clean-list li .content-left {
    padding-left: 10px;
}
.form-label {
    width: 30%;
}
.form-content {
    width: 70%;
}

.input-group{
    width: 100%;
}
.input-group-addon{
    width: 45%;
    text-align: left;
}
.form-control {
    width: 55%;
}
.reviewEntry a {
    width: 100%;
}
.actions {
    margin: 10px auto;
}
