.mt-1{
    margin-top: 1em;
}
ul.clean-list {
    list-style: none;
}
ul.clean-list li {
    display: flex;
}
.clean-list li .content-left {
    padding-left: 10px;
}
.form-label {
    width: 30%;
}
.form-content {
    width: 70%;
}

.input-group{
    width: 100%;
}
.input-group-addon{
    width: 45%;
    text-align: left;
}
.form-control {
    width: 55%;
}
.reviewEntry a {
    width: 100%;
}
.reviewEntry .glyphicon {
    margin: 0px 10px;
}
.reviewEntry:hover{
    cursor: pointer;
}
.actions {
    margin: 10px auto;
}
.entry-row-left{
    width:70%;
}
.entry-row-right{
    width:29%;
    text-align: right;
}
delete .btn {
    width: 70px;
    margin-bottom: 5px;
}
.workcode-entry .form-inline label {
    text-align: left;
}
.workcode-entry .form-inline input[type="checkbox"]{
    float: right;
}
input[value="Add Job"], input[value="Cancel"] {
    margin-bottom: 10px;
}

